/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --background-color: #000;
    --accent-color: #00CC14;
    --font-weight-cart-title: 785;
    --font-weight-card-text: 465;
    --common-font: 'Inter-Variable', sans-serif ;
    --accent-font: 'PressStart2P', 'fantasy';
    --background-image:
        repeating-linear-gradient(to right, #000, #d3d3d300 2px),
        repeating-linear-gradient(to bottom, #000, #d3d3d300 2px),
        repeating-linear-gradient(90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(180deg, #007f0c 0%, #004306 100%);
    --disabled-color: #00CC1460;
    --text-color-hovered: #00CC14;
    --heart-contour-color: #00CC14;
    --heart-main-body-color: #00CC14;
    --tag-color: #00CC1480;
  }